<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4cONtSLW3Q43trtHg9j5uUUpqUxb6zSc</string>
	<key>GCM_SENDER_ID</key>
	<string>804126405120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopifyistic.portfolio.myPortfolio</string>
	<key>PROJECT_ID</key>
	<string>qasim-portfolio</string>
	<key>STORAGE_BUCKET</key>
	<string>qasim-portfolio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804126405120:ios:f6d21d6f703b3c72cf9ee5</string>
</dict>
</plist>